<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <title>Home</title>
</head>
<body>
<main>
    <div class="container px-4 py-5">
        <h1 class="pb-2 border-bottom">Venta de flores Amarillas para este 21 de Septiembre</h1>
        <a th:href="@{/list}">Catálogo</a><br/>
        <a th:href="@{/entretenimiento}">Entretenimiento</a><br/>
        <a th:href="@{/carrito}">Carrito</a>
    </div>
</main>
<script th:src="@{/js/bootstrap.bundle.min.js}" ></script>
</body>
</html>


